on:
  push:
    branches: [master]

jobs:
  create_issues:
    runs-on: ubuntu-latest
    name: create-issue-steps
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Create issues
        uses: tbrockman/social-action@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}